# Python
__pycache__/
*.py[cod]

# Editor
.idea/
.vscode/

# Bases e saidas locais
*.csv
*.txt
*.pdf
saida/
saida_serial/
saida_paralela/
TP01_Manipulando_Arquivos/Base de Dados/
TP01_Manipulando_Arquivos/saida/